body {
  background-color: #f9f9f9;
  font-family: font-family: Cerebri-Sans,Helvetica,Arial,sans-serif;
}

.weather-app-wrapper{
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #eaebee;
  border-radius: 8px;
  background-color: white;
}

h1 {
  color: blueviolet;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}

ul{
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
}

li{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.right {
}

.weather-app-wrapper #openSource{
  text-decoration: none;
}

.temperature{
  font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 700;
  line-height: 48px;
  color: #272142;
  position: relative;
   bottom: -10px;
}

.unit{
  position: relative;
  top: -20px;
}

.weather-app #today-icon{
  position: relative;
  top: -10px;
  text-decoration: underline;
}